*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
body{
    font-family: "Roboto", sans-serif;
}
:root{
    --primary-color: rgb(255, 94, 20);
    --secondary-color: rgb(0, 22, 89); 
}
/* header style */
nav{
    position: fixed;
    width: 100%;
    z-index: 40;
    /* border: 2px solid red; */
}
#nav1{
    background-color: var(--secondary-color); 
    color: white;
    padding: 12px;
}
#nav1-body{
    width: 95%;
    margin: 0 auto;
}
.ic-image{
    width: 20px;
    margin-right: 10px;
}
.ic-image:hover{
    cursor: pointer;
}
#nav1-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav1-info{
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
}
#st-line{
    margin-left: 20px;
}
#nav-2{
    padding: 15px 0;
    background-color: white;
}
#nav2-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
ul > li{
    list-style: none;
}
ul > li > a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--secondary-color);
}
#list-style{
    display: flex;
    gap: 40px;
}
#list-style #home-menu .dropdown-menu{
    display: none;
    position: absolute;
    background-color: white;
    padding: 33px 50px 20px 10px;
    /* top: 130px; */
}
#list-style #pages-menu .dropdown-menu2{
    display: none;
    position: absolute;
    background-color: white;
    padding: 33px 50px 20px 10px;
    /* top: 130px; */
}
#list-style #home-menu .dropdown-menu li{
    margin-bottom: 15px;
}
#list-style #pages-menu .dropdown-menu2 li{
    margin-bottom: 15px;
}
#list-style #home-menu:hover .dropdown-menu{
    display: block;
}
#list-style #pages-menu:hover .dropdown-menu2{
    display: block;
}
#serch-sec{
    display: flex;
    align-items: center;
    gap: 20px;
    /* position: relative;
    z-index: 1; */
}
#serch-sec::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 152%;
    background-color: var(--primary-color);
    right: -34px;
    z-index: -1;
}
#number{
    color: white;
}
#num-head{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
#num{
    font-size: 24px;
    font-weight: 700;
}

/* toggle menu */
#phone-display{
    display: none;
}
#phn-nav-img{
    width: 120px;
}
#phone-display{
    background: rgb(11, 23, 40);
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 20px 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  #phone-display ul{
    float: right;
    margin-right: 20px;
  }
  #phone-display ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  #phone-display ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

#dream-div{
    background-image: url('../images/hero1.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 130vh;
    display: flex;
    align-items: center;
}
#dream-div2{
    background-image: url('../images/hero2.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 130vh;
    display: flex;
    align-items: center;
}
.caption{
    width: 60%;
    margin-left: 60px;
}

.dream-head{
    font-size: 95px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.head-desc{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
    color: var(--secondary-color);
}
.dream-btn-1{
    padding: 25px 45px;
    margin-top: 30px;
    border: none;
    background-color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.dream-btn-1:hover{
    background-color: var(--secondary-color); 
    cursor: pointer; 
}
.dream-btn-2{
    padding: 25px 45px;
    margin-left: 20px; 
    border: none;
    background-color: var(--secondary-color);
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.dream-btn-2:hover{
    background-color: var(--primary-color);
    cursor: pointer; 
}

/* about me section styles */
#about-sec{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
}
#about-company{
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
}
#about-img{
    position: relative;
}
#ab-img{
    width: 555px;
    height: 590px;
}
#ex-div{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    height: 155px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ex-div-body{
    width: 60%;
}
#years{
    font-size: 110px;
    font-weight: 700;
    margin-bottom: -20px;
    padding: 0;
    background-image: url(../images/outline.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center bottom;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#expe{
    font-size: 16;
    font-weight: 700;
    margin-top: 0;
}
#year-color{
    color: var(--primary-color);
}
#expe-color{
    color: var(--secondary-color);
}
#about-body{
    padding-top: 65px;
}
.head{
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.head2{
    font-size: 57px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 45px;
}
#abou-head3{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    border-left: 5px solid var(--primary-color);
    padding: 5px 20px;
    margin-bottom: 30px;
    color: var(--secondary-color);
}
#about-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}

/* what we do styles */
#what-do-sec{
 background-color: rgb(249, 249, 249);
 padding: 100px 0;
 width: 100%;
 overflow: hidden;
}
#wht-do-container{
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
}
#wht-do-header{
    text-align: center;
    position: relative;
    z-index: 1;
}
#wht-do-main-head{
    position: absolute;
    bottom: -28px;
    left: 25%;
    font-size: 160px;
    font-weight: 700;
    z-index: -1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(224, 226, 233);
}
#what-we-do-cardContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card{
    box-shadow: 5px 5px 5px white;
}
.do-card-img{
    /* width: 385px; */
}
.card-body{
    margin-top: -4px;
    padding: 35px;
    background-color: white;
    border-right: 1px solid rgb(235, 237, 242);
    border-left: 1px solid rgb(235, 237, 242);
    border-bottom: 1px solid rgb(235, 237, 242);
}
.card-head{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}
.headimg{
     width: 50px;
}
.card-heading{
    font-size: 22px;
    font-weight: 700;
    color: var(--secondary-color);
}
.card-heading:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.card-desc{
    font-size: 16px;
    font-weight: 400;
    color: rgb(83, 84, 90);
    line-height: 1.8;
    margin-bottom: 10px;
}
.link-style{
    display: flex;
    gap: 10px;
    align-items: center;
}
.link-button{
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
}
.link-button:hover{
    color: var(--secondary-color);
}
.arrow{
    width: 30px;
}

/* looking-for styles */
#looking-for{
    background-color: var(--primary-color);
    padding: 55px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#looking-head{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 60%;
}
#look-img{
    width: 100px;
}
#look-head{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
#look-btn{
    background-color: var(--primary-color);
    padding: 25px 35px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    border: 1px solid white;
}
#look-btn:hover{
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
}

/* company section styles */
#company-sec{
    background-color: var(--secondary-color);
    padding: 70px 0;
}
#company-logo{
    width: 90%;
    margin: 0 auto;
}
.swiper2 {
    width: 100%;
    height: 100%;
  }

  .swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* tab section styles */
  #tab-section{
    position: relative;
  }
  #company-tab{
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
    z-index: 1;
  }
  #tab-section::before{
    position: absolute;
    content: "";
    background-color: var(--secondary-color);
    width: 100%;
    height: 160px;
    z-index: -1;
  }

  .container {
    background-color: white;
    width: 100%;
    /* padding: 20px; */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  }
  
  .tab-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .tab-btn {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: 1px solid rgb(235, 237, 242);
    border-bottom: 1px solid rgb(235, 237, 242);
    color: #020617;
    background-color: white;
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 700;
    padding: 30px 30px;
    cursor: pointer;
  }

  .tab-btn.active {
    background-color: var(--primary-color);
    color: white;
  }
  .tab-btn-img{
    width: 20px;
    margin-right: 5px;
  }
  
  .content {
    display: none;
  }
  .content.show {
    display: flex;
    gap: 14px;
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
  }
  .content-info{
    display: flex;
    gap: 50px;
    padding: 60px 35px;
  }
  .tab-content-head{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 32px;
    color: var(--secondary-color);
  }
  .tab-content-desc{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    color: rgb(83, 84, 90);
  }
  .years-prog{
    display: flex;
    gap: 30px;
  }
  .pof{
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 5px;
  }
  .elemental{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    color: rgb(83, 84, 90);
  }
  .time{
    font-size: 21px;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 20px;
  }
  .yearOfTab{
    font-size: 13px;
    font-weight: 700;
    color: var(--primary-color);
  }
  .tab-read{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
  }
  .read-more{
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
  }
/* project completed styles */
#project-completed-sec{
    padding: 100px 0;
    overflow: hidden;
    width: 100%;
}
#numberOfProject{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    text-align: center;
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
}
.pro-number{
    font-size: 50px;
    font-weight: 700;
    color: var(--secondary-color);
}
.pro-name{
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-color);
}
/* choose us styles*/
#choose-us-sec{
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;
}
#choose-us{
    background-image: radial-gradient(#E6E6E6 1px, transparent 0);
    background-size: 15px 15px;
    display: flex;
}
#chooseUsImg{
    width: 70%;
}
#us-img{
    width: 100%;
    height: 100%;
}
#choose-us-body{
    padding: 120px 50px;
}
.img-body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* width: 90%; */
}
.body-img-contain{
    border: 5px solid var(--primary-color);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}
.us-body-img{
    width: 35px;
}
.img-body-head{
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.img-body-desc{
    font-size: 16px;
    font-weight: 400;
    color: rgb(83, 84, 90);
    line-height: 1.5;
}
#body-desc{
    margin-bottom: 50px;
}

/* meet the team style */
#meet-team-sec{
    margin-bottom: 100px;
    overflow: hidden;
    width: 100%;
}
#meet-the-team{
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
#team-desc{
    padding: 0 50px 0 0;
}
#our-team-btn{
    padding: 25px 45px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 45px;
    background-color: white;
    border: 1px solid black;
}
#our-team-btn:hover{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    cursor: pointer;
}
.team-member{
    width: 380px;
    overflow: hidden;
}
.team-member-img{
    width: 100%;
    height: 440px;
    transition: 0.4s ease-in-out;
}
.team-member-img:hover{
    transform: scale(1.1);
}
.contractor-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -50px;
    background-color: #fff;
    padding: 15px;
    transition: all .3s ease-in-out;
}
.member-info {
    height: 57px;
    overflow: hidden;
    transition: all .4s ease-in-out;
}
.member-info:hover .member-title {
    margin-top: -45px;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
.member-info:hover .member-social {
    visibility: visible;
    transition: all .4s ease-in-out;
}
.contractor-details:hover{
    border-bottom: 1px solid var(--primary-color);
}
.member-social {
    visibility: hidden;
    transition: all .4s ease-in-out;
}
.member-social-img{
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.plus-btn{
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: white;
}
.plus-btn:hover{
    background-color: var(--primary-color);
    border: none;
    color: white;
    cursor: pointer;
}
.member-position{
    font-size: 14px;
    font-weight: 400;
    color: rgb(83, 84, 90);
    margin-bottom: 10px;
}
.member-name{
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-color);
}
/* project section style */
#project-sowCase-sec{
    background-image: url(../images/project-bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    padding: 100px 0;
    /* position: relative;
    z-index: 1; */
}
#project-container{

}
#project-header{
    position: relative;
    z-index: 1;
}
#project-main-head{
    position: absolute;
    bottom: -28px;
    left: 5%;
    font-size: 160px;
    font-weight: 700;
    z-index: -1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(27, 46, 106);
}
#second-head{
    margin-left: 75px;
}
#second-head > h1{
    color: white;
}
#swipper-container{
    /* position: absolute; */
    /* bottom: -30px; */
    /* z-index: -1; */
}
.project-div{
    width: 430px;
}
.project-img{
    width: 100%;
}
.project-details{
    background-color: var(--primary-color);
    color: white;
    margin-top: -4px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.pro-detail-num{
    font-size: 60px;
    font-weight: 700;
}
.project-type{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}
.project-location{
    font-size: 26px;
    font-weight: 700px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.client-name{
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}
#swipper-container{
    position: relative;
    margin-bottom: 100px;
}
#swipper-container::before{
    position: absolute;
    content: "";
    background-color: var(--secondary-color);
    width: 100%;
    height: 85%;
}
/* blog section styles */
#blog-section{
    margin-bottom: 100px;
    overflow: hidden;
    width: 100%;
}
#blogs-container{
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
}
#blog-header{
    text-align: center;
    position: relative;
    z-index: 1;
}
#blog-main-head{
    position: absolute;
    bottom: -28px;
    left: 34%;
    font-size: 160px;
    font-weight: 700;
    z-index: -1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(224, 226, 233);
}
#blog-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.blog-card{
    width: 385px;
}
.card-img{
    position: relative;
}
.card-img::before{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    /* background-color: rgb(47, 51, 79);
     */
     background-color: #001659;
    transition: all .4s ease-in-out;
}
.card-img:hover::before{
    width: 100%;
    left: 0;
    right: auto;
    opacity: 0.3;
}
.blog-card-body{
    position: relative;
    margin-top: -4px;
    padding: 40px 25px 20px 25px;
    background-color: white;
    border-right: 1px solid rgb(235, 237, 242);
    border-left: 1px solid rgb(235, 237, 242);
    border-bottom: 1px solid rgb(235, 237, 242);
}
.busico-contain{
    display: flex;
    position: absolute;
    justify-content: center;
    left: 5%;
    width: 90%;
    /* bottom: -25px; */
    top: -30px;
    background-color: white;
}
.busico-contain1{
    display: flex;
    padding: 10px 20px;
    border: 1px solid rgb(237, 239, 243);
    gap: 10px;
    align-items: center;
    width: 50%;
}
.busico-img{
    width: 35px;
}
.callender-img{
    width: 20px;
}
.busi-desc{
    font-size: 14px;
    font-weight: 700px;
    color: var(--secondary-color);
}
.busi-desc:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.blog-head{
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 35px;
}
.blog-head:hover{
    color: var(--primary-color);
}
.blog-btn{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);
}
.blog-btn:hover{
    color: var(--secondary-color);
    cursor: pointer;
}
/* footer styles */
#footer-main{
    background-color: var(--secondary-color);
    padding: 100px 0;
    position: relative;
    /* z-index: 1; */
}
#footer-body{
    color: white;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#touch-head{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}
.info-contain{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: center;
}
.info-img{
    width: 25px;
}
.phn-num{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
#links a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    transition: transform .2s linear;

}
#links a:hover{
    transform: translateX(10px);
}
#footer-foot{
    background-color: var(--primary-color);
    width: 90%;
    margin: 0 auto;
    padding:  45px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}
#footer-main::after{
    position: absolute;
    content: "";
    background-color: var(--secondary-color);
    width: 100%;
    height: 220px;
    z-index: -1;
}
#footer-foo-desc{
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 1.8;
}
#social-links{
    display: flex;
    gap: 20px;
}
#social-links:hover{
    cursor: pointer;
}
.social-icon{
    height: 50px;
    width: 50px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
#tweet{
    width: 20px;
}
#copyright{
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}
#condition{
    display: flex;
    gap: 20px;
}
#copy-right-desc{
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
}
#ex-design{
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 600;
}
.condition-link{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary-color);
}
.condition-link:hover{
    color: var(--primary-color);
}

/* responsive for mobile */

@media screen and (max-width: 576px) {
    nav{
        position: fixed;
    }
    #nav1{
        display: none;
    }
    #nav-menubar{
        display: none;
    }
    #serch-sec{
        display: none;
    }
    #computer-display{
        display: none;
    }
    #phone-display{
        display: block;
        overflow: hidden;
    }
    .checkbtn{
        display: block;
        /* position: fixed; */
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(11, 23, 40);
        opacity: .9;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 30;
      }
      #phone-display ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      #phone-display ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0;
      }

    /* header */
    #dream-div{
        background-position: center;
        height: 60vh;
    }
    #dream-div2{
        background-position: center;
        height: 60vh;
    }
    .caption{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-left: 10px;
    }  
    .dream-head{
        font-size: 48px;
    }
    .head-desc{
        font-size: 18px;
        margin: 10px 0;
    }
    .dream-btn-1{
        padding: 15px 25px;
        margin-top: 20px;
    }
    .dream-btn-2{
        padding: 15px 25px;
        margin-top: 20px;
    }

    /* about */
    #about-sec{
        padding: 100px 0;
    }
    #about-company{
        width: 95%;
        display: block;
        margin-bottom: 15px;
    }
    #ab-img{
        width: 100%;
        height: 90%;
    }
    .head2{
        font-size: 27px;
        margin-bottom: 20px;
    }
   
    /* what we do */
    #wht-do-main-head{
        display: none;
    }
    #what-we-do-cardContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    #wht-do-container{
        width: 95%;
        margin: 0 auto;
    }

    /* looking for */
    #looking-for{
        padding: 40px 30px;
        display: block;
        text-align: center;
    }
    #looking-head{
        display: block;
        width: 90%;
    }
    #look-img{
        width: 80px;
    }
    #look-head{
        font-size: 26px;
        margin-bottom: 15px;
    }
    #look-btn{
        padding: 15px 25px;
 
    }

    /* tab-sec */
    #company-tab{
        width: 95%;
      }
    .tab-buttons {
        grid-template-columns: repeat(2, 1fr);
      }
      .tab-btn-img{
        width: 15px;
        /* display: block;
        margin: 0 auto; */
        margin-right: 5px;
      }
      .tab-btn{
        padding: 20px 10px;
        text-align: center;
      }
      .content-info{
        display: block;
        padding: 60px 15px;
      }
      .tab-content-head{
        font-size: 26px;
      }
    .tab-read{
        margin-bottom: 10px;
    }
    #numberOfProject{
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
    }
    .pro-number{
        margin-bottom: 10px;
    }
    .pro-name{
        margin-bottom: 20px;
    }

    /* choose us */
    #chooseUsImg{
        display: none;
    }
    #choose-us-body{
        padding: 70px 15px;
    }
    .img-body{
        display: block;
        /* justify-content: center;
        align-items: center;
        gap: 30px; */
        /* width: 90%; */
    }
    .img-body-head{
        margin-top: 20px;
    }
    #meet-the-team{
        width: 95%;
        grid-template-columns: repeat(1, 1fr);
    }
    #project-main-head{
        display: none;
    }
    #second-head{
        margin-left: 0px;
    }
    #project-sowCase-sec{
        padding: 50px 10px;
    }
    #blog-main-head{
        display: none;
    }
    #blogs-container{
        width: 95%;
        margin: 0 auto;
    }
    #blog-body{
        grid-template-columns: repeat(1, 1fr);
    }
    #footer-body{
        grid-template-columns: repeat(1, 1fr);
    }
    #footer-foot{
        /* background-color: var(--primary-color);
        width: 90%;
        margin: 0 auto;
        padding:  45px 40px;
        display: grid; */
        grid-template-columns: repeat(1, 1fr);
        /* gap: 30px;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
     */
    }
    #copyright{
        display: block;
        text-align: center;
    }
    #condition{
        justify-content: center;
        margin-top: 15px;
    }
}

/* responsive for tab */

@media screen and (min-width: 576px) and (max-width: 992px) {
    nav{
        position: static;
    }
    #nav1{
        display: none;
    }
    #nav-menubar{
        display: none;
    }
    #serch-sec{
        display: none;
    }
    #computer-display{
        display: none;
    }
    #phone-display{
        display: block;
    }
    .checkbtn{
        display: block;
        /* position: fixed; */
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 30;
      }
      #phone-display ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      #phone-display ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0;
      }

    /* header */
    #dream-div{
        background-position: center;
        height: 60vh;
    }
    #dream-div2{
        background-position: center;
        height: 60vh;
    }
    .caption{
        width: 90%;
        margin: 0 auto;
        /* text-align: center; */
        margin-left: 10px;
    }  
    .dream-head{
        font-size: 60px;
    }
    .head-desc{
        font-size: 18px;
        margin: 10px 0;
    }
    .dream-btn-1{
        padding: 15px 25px;
        margin-top: 20px;
    }
    .dream-btn-2{
        padding: 15px 25px;
        margin-top: 20px;
    }

    /* about */
    #about-sec{
        padding: 100px 0;
    }
    #about-company{
        width: 95%;
        display: block;
        margin-bottom: 15px;
    }
    #ab-img{
        width: 100%;
        height: 90%;
    }
    .head2{
        font-size: 42px;
        margin-bottom: 20px;
    }
   
    /* what we do */
    #wht-do-main-head{
        display: none;
    }
    #what-we-do-cardContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    #wht-do-container{
        width: 95%;
        margin: 0 auto;
    }

    /* looking for */
    #looking-for{
        padding: 40px 30px;
        display: flex;
    }
    #looking-head{
        display: flex;
        width: 90%;
    }
    #look-img{
        width: 80px;
    }
    #look-head{
        font-size: 26px;
        margin-bottom: 15px;
    }
    #look-btn{
        padding: 15px 25px;
 
    }

    /* tab-sec */
    #company-tab{
        width: 95%;
      }
    .tab-buttons {
        grid-template-columns: repeat(2, 1fr);
      }
      .tab-btn-img{
        width: 15px;
        /* display: block;
        margin: 0 auto; */
        margin-right: 5px;
      }
      .tab-btn{
        padding: 20px 10px;
        text-align: center;
      }
      .content-info{
        display: block;
        padding: 60px 15px;
      }
      .tab-content-head{
        font-size: 26px;
      }
    .tab-read{
        margin-bottom: 10px;
    }
    #numberOfProject{
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
    }
    .pro-number{
        margin-bottom: 10px;
    }
    .pro-name{
        margin-bottom: 20px;
    }

    /* choose us */
    #chooseUsImg{
        display: none;
    }
    #choose-us-body{
        padding: 70px 15px;
    }
    .img-body{
        display: block;
        /* justify-content: center;
        align-items: center;
        gap: 30px; */
        /* width: 90%; */
    }
    .img-body-head{
        margin-top: 20px;
    }
    #meet-the-team{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
    }
    #project-main-head{
        display: none;
    }
    #second-head{
        margin-left: 0px;
    }
    #project-sowCase-sec{
        padding: 50px 10px;
    }
    #blog-main-head{
        display: none;
    }
    #blogs-container{
        width: 95%;
        margin: 0 auto;
    }
    #blog-body{
        grid-template-columns: repeat(2, 1fr);
    }
    #footer-body{
        grid-template-columns: repeat(2, 1fr);
    }
    #footer-foot{
        /* background-color: var(--primary-color);
        width: 90%;
        margin: 0 auto;
        padding:  45px 40px;
        display: grid; */
        grid-template-columns: repeat(1, 1fr);
        /* gap: 30px;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
     */
    }
    #copyright{
        display: block;
        text-align: center;
    }
    #condition{
        justify-content: center;
        margin-top: 15px;
    }
}

@media  screen and (min-width: 1230px) {
    #choose-us-sec{
        padding-bottom: 100px;
        overflow: hidden;
        margin: auto;
    }
}